/*basic style of tables*/
table{
    width:100%;
    border-collapse: collapse;
    border-radius: 10px;
    margin-bottom: 20px;
}
th,td{
    border: 1px solid black;
    text-align: center;
    font-size: 14px;
    padding: 10px;
}
th{
    background-color: lightblue;
}